body {
  margin: 0px;
}

canvas {
  background-image: url("https://i.postimg.cc/L5LbPZzd/image.png");
  background-repeat: no-repeat;
  background-size: 1400px 750px;
  background-color: #d3d3d3;
}

img {
  display: none;
}
